<!DOCTYPE html>

<html>
<head>
    <title>Postes du blog</title>
</head>
<body>

    <p> Bienvenue sur la page de ton profil ! </p>

    <p> Username :  {{ app.user.username }} </p>
    <p> mail :  {{ app.user.email }}</p>
    <p> Password : {{ app.user.password }} </p>
    <p> Date de création du compte :  {{ app.user.created_at }} </p>

</body>