/.idea
###> symfony/framework-bundle ###
/Symfony/public/uploads/
/Symfony/.env
/Symfony/.env.local
/Symfony/.env.local.php
/Symfony/.env.*.local
/Symfony/config/secrets/prod/prod.decrypt.private.php
/Symfony/public/bundles/
/Symfony/var/
/Symfony/vendor/
/.php-cs-fixer.cache
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/Symfony/public/assets/
/Symfony/assets/vendor/
###< symfony/asset-mapper ###