/.idea
###> symfony/framework-bundle ###
/public/uploads/
/.env
/.env.test
/.env.local
/.env.local.php
/.env.*.local
/Symfony/config/secrets/prod/prod.decrypt.private.php
/Symfony/public/bundles/
/var/
/vendor/
/.php-cs-fixer.cache
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/Symfony/public/assets/
/Symfony/assets/vendor/
###< symfony/asset-mapper ###
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
